.Copy-End{
    width: 100vw;
    height: 8vh;
    background: rgb(73, 68, 68);
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-weight: lighter;
    gap: 5px;
}

span{
    color: rgb(146, 144, 144);
}