.Copy-End{
    width: 100vw;
    height: 8vh;
    background: #262626 ;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E5E5E5;
    font-weight: lighter;
    gap: 5px;
}

span{
    color: #A3A3A3;
}